<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>



  <div class="box">
    <h3><b>Enter a City Name</b></h3>
    <form action="/" method="post">
      <div class="form-group">
        <label for="cityInput">City Name: </label>
        <input class="city-input" id="cityInput" type="text" name="cityName" autocomplete="off">
      </div>

      <button class="btn btn-dark" type="submit"><b>Go</b></button>
    </form>
  </div>


  </body>
</html>
